<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internet.shop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internet.shop.controllers.user.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internet.shop.controllers.user.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>internet.shop.controllers.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>internet.shop.controllers.product.ProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminAllProducts</servlet-name>
        <servlet-class>internet.shop.controllers.product.AdminProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminAllProducts</servlet-name>
        <url-pattern>/products/adminAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createProduct</servlet-name>
        <servlet-class>internet.shop.controllers.product.CreateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createProduct</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>internet.shop.controllers.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>shoppingCart</servlet-name>
        <servlet-class>internet.shop.controllers.shoppingсart.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shoppingCart</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProductToShopCart</servlet-name>
        <servlet-class>internet.shop.controllers.shoppingсart.AddProductToShopCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductToShopCart</servlet-name>
        <url-pattern>/addProductToShopCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>removeProductFromShopCart</servlet-name>
        <servlet-class>internet.shop.controllers.shoppingсart.RemoveProductFromShopCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeProductFromShopCart</servlet-name>
        <url-pattern>/removeProductFromShopCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateShopCart</servlet-name>
        <servlet-class>internet.shop.controllers.shoppingсart.CreateShopCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateShopCart</servlet-name>
        <url-pattern>/CreateShopCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>internet.shop.controllers.order.CreateOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>internet.shop.controllers.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderInfo</servlet-name>
        <servlet-class>internet.shop.controllers.order.OrderInfoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderInfo</servlet-name>
        <url-pattern>/OrderInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllOrders</servlet-name>
        <servlet-class>internet.shop.controllers.order.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllOrders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generateUsers</servlet-name>
        <servlet-class>internet.shop.controllers.generators.GenerateUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generateUsers</servlet-name>
        <url-pattern>/generateUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>generateProducts</servlet-name>
        <servlet-class>internet.shop.controllers.generators.GenerateProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generateProducts</servlet-name>
        <url-pattern>/generateProducts</url-pattern>
    </servlet-mapping>
</web-app>
